* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 37, 41);
    font-family: "Trebuchet MS", sans-serif;
}

main {
    
    /* min-height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

nav {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}
a:nth-child(3) .link:hover {
    background-color: #3ecd5e;
}
a .link:hover{
    transition: all 1s ease;
}
a:nth-child(1) .link:hover {
    background-color: #952aff;
}
a:nth-child(2) .link:hover{
    background-color: #cd3e94;
}
a:nth-child(4) .link{
    background-color: #f9b234;
}
a:nth-child(5) .link:hover{
    background-color: #e44002;
}
a:nth-child(6) .link:hover{
    background-color: #4c49ea;
}
.alg_name {
    width: 79vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 40px;
}
.parametrs {
    width: 20vw;
    min-width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    padding-top: 10px;
}

.back {
    width: 6vw;
    height: 6vw;
    border-radius:50%;
    background-color:rgb(24, 26, 27);
    display: flex;
    justify-content: center;
    align-items:center;
}

.back a {
    width: 7vw;
    height: 7vw;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.back:hover {
    background-color:rgb(31, 34, 35);
}

.back svg {
    width: 5vw;
    height: 5vw;
    color: #64748b;;
}

.field {
    width: 78vw;
    display: flex;
    justify-content: center;
}

.field canvas {
    width: 65vw;
    height: 80vh;
    min-width: 300px;
    background-color: rgb(67, 74, 82);
}

.clear, .start, .pixelation {
    background-color: #ffdd2d;
    border-radius: 12px;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.clear:hover, .start:hover, .pixelation:hover{
    background-color: #e7c82e;
}

.ans {
    color: white;
    font-size: 20px;
}

@media (max-width: 768px) {
    main {
        justify-content: center;
    }
    .field canvas {
        width: 98vw;
        max-height: 500px;
        height: calc(85vh - 150px)
    }
    
    .field {
        width: 100vw;
    }
    .clear, .start {
        height: 40px;
    }
}

@media (min-width: 1900px) {
    .clear, .start, .pixelation {
        height: 8vh;
        font-size: 1.3vw;
        margin-bottom: 3vh;
    }

}
