@import url("./navigate.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    background-color: rgb(33, 37, 41);
    display: flex;
    align-items:center;
    justify-content: space-around;
    min-height: calc(100vh - 114px);
    padding: 20px 0;
}
nav{
    position: relative;
    text-decoration: none; 
}
#wrapper{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.parametrs, .field{
    width: 30%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
.field {
    width: 70%;
    align-items: center;
    justify-content: center;
}
.parametrs{
    height: 100%;
}
.parametrs_header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94px;
    width: 100%;
}
.parametrs_logo{
    width: 50px;
    height: 50px;
}
.parametrs_descr{
    color: white;
    font-size: 45px;
    margin: 0px 20px;
}
.astar_settings{
    background: #e7c6ff;
    height: 766px;
    width: 80%;
    border-radius: 30px;
    border: 5px solid #AC92EC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#astar_canvas{
    background-color: #AC92EC;
    height: 860px;
    width: 860px;
    cursor: pointer;
}
#field_settings{
    display: flex;
    flex-direction:column;
}
#field_range_descr, #animation_range_descr, #ansver, #label_dist{
    font-size: 1.8rem;
    font-weight: 500;
}
#field_settings, #animation_settings, #distance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.2rem;
}
#start, #remove_field, #add_start, #add_finish,#generate_maze {
    text-transform: uppercase;
    background-color: #FFCE54;
    border-radius: 12px;
    border-style: none;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 900;
    margin: 0;
    padding: 0.3rem 0.6rem;
    text-align: center;
    transition: all 0.15s;
    height: 50px;
    width: 150px;
}
#start:hover, #start:active {
    background-color: #FCBB42;
    transform: scale(1.05);
}
#add_start{
    background-color: #ED5565;
    font-weight: 900;
}
#add_start:hover, #add_start:active {
    background-color: #DA4453;
    transform: scale(1.05);
}
#add_finish{
    background-color: #4FC1E9;
    font-weight: 900;
}
#add_start:disabled{
    background-color: #DA4453;
    box-shadow:  none;
    transform: scale(1.05);
    filter: contrast(80%);
}
#add_finish:hover, #add_finish:active {
    background-color: #3BAFDA;
    transform: scale(1.05);
}
#add_finish:disabled{
    background-color: #3BAFDA;
    box-shadow:  none;
    transform: scale(1.05);
    filter: contrast(80%);
}
#remove_field, #generate_maze{
    background-color: #AC92EC;
    font-weight: 900;
}
#generate_maze:hover, #generate_maze:active, #remove_field:hover, #remove_field:hover {
    background-color:  #967ADC;
    transform: scale(1.05);
}
input[type="number"] {
    background-image: linear-gradient(315deg, #D18CE0, #FFFFFF);
    color: black;
    outline:none;
    border: 0.25rem solid #AC92EC;
    border-radius:5px;
    width: 200px;
    height: 36px;
    font-size:24px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}
input[id="field_range"] {
    width: 200px;
    height: 36px;
    font-size:24px;
}
select {
    appearance: none;
    border: 0.25rem solid #AC92EC;
    outline: 0;
    height: 40px;
    width: 230px;
    padding: 0.2rem 0.6rem;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
    no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, rgba(255, 255, 255, 0.05) 2em, rgba(255, 255, 255, 0.5) 4em);
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size:22px;
    margin: 10px auto;
}
select option {
    background-color:#e7c6ff;
    font-size:22px;
    height: 40px !important;
    width: 200px !important;
}
#div_btn2, #div_btn1{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
#div_btn2{
    justify-content: space-between;
}
#ansver{
    height: 55px;
    font-weight: 500;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
a{
    text-decoration: none;
}

