* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: absolute;
    top: 22vh;
    display: flex;
    align-items: center;
    transition: all 1s ease-in;
    font-family: "Trebuchet MS", sans-serif;
}



.arrow {
    width: 2vw;
    height: 6vh;
    background-color: blue;
    opacity: 0.5;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    cursor: pointer;
}

.parametrs {
    height: 50vh;
    width: 15vw;
    background-color:rgba(0, 255, 255, 0.5);
}

.options {
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}

canvas {
    width: 100vw;
    height: 100vh;
    background-color: #c79030;
}

.hide {
    left: -15vw;

}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px;
}

.range {
    width: 100%;
}

#rangeValue {
    position: relative;
    text-align: center;
    width: 60px;
    font-weight: 500;
    color: whitesmoke;
    background-color: #27a0ff;
    margin-left: 15px;
    border-radius:25px;
}

#eatValue {
    width: 50px;
    margin-left: 15px;
}

#speed {
    width: 50px;
    margin-left: 15px;
}