@media (max-width: 1800px){
    main {  
        min-height: calc(100vh - 117px);
    }
    .parametrs, .field {
        height: calc(100vh - 117px);
    }
    .canvas_header {
        font-size: 28px;
        width: 100%;
    }
    .canvas_div{
        max-height:700px;
    }
    .parametrs_descr{
        font-size: 30px;
    }
    .wpapper_parametrs{
        max-height:700px;
    }
    svg{
        height: 30px;
        width: 30px;    
    }
    #start, #remove_points {
        font-size: 0.55rem;
        height: 34px;
        width: 90px;
    }
    .choose_set, label{
        display: block;
        font-size: 1.1rem;
        width: 100%;
    }
    #center{
        display: inline;
    }
    .alg_label{
        font-size: 1.1em;;
    }
    input{
        margin: 0;
        width: 100%;
    }
    input[type='checkbox']{
        width: 1.1rem !important;
        height: 1.1rem !important;
        font-size: 1em;
    }
    input[type='checkbox']:checked:after {
        font-size: 1em;
    }
    .distance, .k_means_div, .dbscan_div, .hierarchical_div{
        gap: 0.4rem;
    }
    select {
        height: 1.6em;
        width: 160px;
        font-size:1em;
    }
    #k_means_range, #radius_range, #neighbors_range, #hierarchical_range {
        width: 140px;
        height: 0.6rem;
    }
    #k_means_range::-webkit-slider-thumb, #radius_range::-webkit-slider-thumb,
    #neighbors_range::-webkit-slider-thumb, #hierarchical_range::-webkit-slider-thumb {
        width: 1.3em;
        height: 1.3em;
    }
     #div_btn{
        gap: 10px;
        margin: 4px 0;
    }
}
@media (max-width: 1279px){
    main{
        min-height: calc(100vh - 106px);
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin: 20px 0;
    }
    .parametrs{
        width: 100%;
        height: 514px;
    }
    .field {
        width: 90%;
        height: 600px;
        order: -1;
    } 
    .wpapper_parametrs{
        height: 680px;
    }
    .canvas_header {
        font-size: 30px;
        width: 100%;
        height: 60px;
    }
    .canvas_div{
        height: 100%;
    }
    #canvas{
        height: 540px;
    }
    .clustering_settings{
        height: 480px;
        width: 50%;
    }
    .parametrs_header{
        height: 60px;
        width: 100%;
    }
    .parametrs_descr{
        font-size: 30px;
    }
    .parametrs_logo{
        height: 30px;
        width: 30px;
    }
    svg{
        height: 30px;
        width: 30px;    
    }
    .distance, .k_means_div, .dbscan_div, .hierarchical_div{
        gap: 0.4rem;
    }
    #start, #remove_points {
        font-size: 0.9rem;
        height: 56px;
        width: 140px;
    }
    .alg_label{
        font-size: 1.5rem;
    }
    .choose_set, label{
        font-size: 1.4rem;
    }
    input{
        width: 80px;
        margin: 6px 10px;
    }
    input[type='checkbox']{
        width: 1.3rem !important;
        height: 1.3rem !important;
    }
    select {
        height: 32px;
        width: 200px;
        font-size:20px;
    }
    #k_means_range, #radius_range, #neighbors_range, #hierarchical_range {
        width: 180px;
        height: 0.7rem;
    }
    #k_means_range::-webkit-slider-thumb, #radius_range::-webkit-slider-thumb,
    #neighbors_range::-webkit-slider-thumb, #hierarchical_range::-webkit-slider-thumb {
        width: 1.6em;
        height: 1.6em;
    }
     #div_btn{
        gap: 30px;
    }
}
@media (max-width: 999px){
    main{
        min-height: calc(100vh - 94px);
        gap: 0px;
        margin: 0px;
    }
    .parametrs{
        width: 100%;
        height: 550px;
    }
    .field {
        width: 100%;
        height: 480px;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    } 
    .wpapper_parametrs{
        height: 600px;
    }
    .canvas_header {
        font-size: 32px;
        width: 90%;
        height: 80px;
    }
    .canvas_div{
        height: 100%;
    }
    #canvas{
        height: 80%;
        width: 80%;
    }
    .clustering_settings{
        height: 500px;
        width: 50%;
    }
    #start, #remove_points {
        font-size: 0.7rem;
        height: 42px;
        width: 110px;
    }
     #div_btn{
        gap: 10px;
    }
    .parametrs_descr{
        font-size: 40px;
    }
    .parametrs_logo{
        height: 40px;
        width: 40px;
    }
    svg{
        height: 40px;
        width: 40px;    
    }
    .alg_label{
        font-size: 1.2rem;
    }
    .choose_set, label{
        font-size: 1.2rem;
    }
    input[type='checkbox']{
        width: 1.2rem !important;
        height: 1.2rem !important;
    }
    select {
        height: 28px;
        width: 180px;
        font-size:18px;
    }
    #k_means_range, #radius_range, #neighbors_range, #hierarchical_range {
        width: 140px;
        height: 0.6rem;
    }
    #k_means_range::-webkit-slider-thumb, #radius_range::-webkit-slider-thumb,
    #neighbors_range::-webkit-slider-thumb, #hierarchical_range::-webkit-slider-thumb {
        width: 1.4em;
        height: 1.4em;
    }
}
@media (max-width: 599px){
    main{
        min-height: calc(100vh - 60px);
        gap: 10px;
    }
    .parametrs{
        height: 570px;
    }
    .field {
        height: 480px;
    } 
    .wpapper_parametrs{
        height: 900px;
    }
    .canvas_header {
        font-size: 20px;
        height: 50px;
        width: 100%;
    }
    #canvas{
        height: 450px;
        width: 300px;
    }
    .clustering_settings{
        height: 500px;
        width: 280px;
    }
    #start, #remove_points {
        font-size: 0.7rem;
        height: 42px;
        width: 110px;
    }
     #div_btn{
        gap: 10px;
    }
    .parametrs_header{
        height: 40px;
    }
    .parametrs_descr{
        font-size: 20px;
    }
    .parametrs_logo{
        height: 20px;
        width: 20px;
    }
    svg{
        height: 20px;
        width: 20px;    
    }
    .alg_label{
        font-size: 1.2rem;
    }
}
@media (min-width: 1801px) and (max-height: 600px){
    .canvas_header, .parametrs_descr {
        font-size: 32px;
    }
    .parametrs_logo{
        height: 30px;
        width: 30px;
    }
    svg{
        height: 30px;
        width: 30px;    
    }
    .distance, .k_means_div, .dbscan_div, .hierarchical_div{
        gap: 0.4rem;
    }
    #start, #remove_points {
        font-size: 0.6rem;
        height: 40px;
        width: 100px;
    }
    .alg_label{
        font-size: 1.2rem;
    }
    .choose_set, label{
        font-size: 1.2rem;
    }
    input[type='checkbox']{
        width: 1.1rem !important;
        height: 1.1rem !important;
        font-size: 1.1em;
    }
    input[type='checkbox']:checked:after {
        font-size: 1em;
    }
    select {
        height: 30px;
        width: 180px;
        font-size:18px;
    }
    select option {
        background-color:#ABCDEF;
    }
    input{
        margin: 0 10px;
    }
    #k_means_range, #radius_range, #neighbors_range, #hierarchical_range {
        width: 120px;
        height: 0.6rem;
    }
    #k_means_range::-webkit-slider-thumb, #radius_range::-webkit-slider-thumb,
    #neighbors_range::-webkit-slider-thumb, #hierarchical_range::-webkit-slider-thumb {
        width: 1.4em;
        height: 1.4em;
    }
     #div_btn{
        gap: 16px;
    }
}