* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 37, 41);
}

main {
    
    /* min-height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}
.alg_name {
    width: 78vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 40px;
}

.parametrs {
    width: 20vw;
    min-width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    padding-top: 10px;
}

.back {
    width: 6vw;
    height: 6vw;
    min-width: 70px;
    min-height: 70px;
    border-radius:50%;
    background-color:rgb(24, 26, 27);
    display: flex;
    justify-content: center;
    align-items:center;
}

.back a {
    width: 7vw;
    height: 7vw;
    min-width: 70px;
    min-height: 70px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.back:hover {
    background-color:rgb(31, 34, 35);
}

.back svg {
    width: 5vw;
    height: 5vw;
    min-width: 60px;
    min-height: 60px;
    color: #64748b;;
}

.field {
    width: 78vw;
    min-width: 600px;
    display: flex;
    justify-content: center;
}

.field canvas {
    width: 600px;
    height: 600px;
    background-color: white;
}

.clear, .recognize, .pixelation {
    background-color: #ffdd2d;
    border-radius: 12px;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.clear:hover, .recognize:hover, .pixelation:hover{
    background-color: #e7c82e;
}

.ans {
    color: white;
    font-size: 20px;
}
@media (max-width:800px) {
    .alg_name {
        margin-right: 40px;
    }
    .field {
        width: 600px;
    }
    .parametrs {
        width: 150px;
    }
}

@media (max-width:750px) {
    .alg_name {
        margin-right: 70px;
    }
}

