* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(33, 37, 41);
    min-height: 100vh;

}
main {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
}
.card {
    width: 30vw;
    min-width: 300px;
    height: 290px;
    background-color: #121212;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
}

.card_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    width: 100%;
    text-align: center;
    position: relative;
}

.card_link:hover {
    text-decoration: none;
    color: #FFF;
}

.card:hover .card_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.card_title {
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: whitesmoke;

    z-index: 2;
    position: relative;
}


.card_bg {
    height: 128px;
    width: 128px;
    background-color: #952aff;
    z-index: 1;
    position: absolute;
    top: -135px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.card:nth-child(2n) .card_bg{
    background-color: #cd3e94;
}
.card:nth-child(3n) .card_bg{
    background-color: #3ecd5e;
}
.card:nth-child(4n) .card_bg{
    background-color: #f9b234;
}
.card:nth-child(5n) .card_bg{
    background-color: #e44002;
}
.card:nth-child(6n) .card_bg{
    background-color: #4c49ea;
}

@media (max-width: 1400px) {
    .card {
        height: 270px;
        margin-top: 15px;
    }
}